{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
		integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{% static 'app/css/dashboard.css' %}">
	<link rel="stylesheet" href="{% static 'app/js/control.js' %}">
	<title>LoRa Web</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="">
</head>

<body>
	<style>
		body {
			background-image: url("{% static 'app/images/anhnen.jpg' %}" );
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            
		}

		h2 {
			text-align: center;
			color: #f70606;
		}
	</style>
    <!-- Header -->
	<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #42ea3f;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">IoT</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Dasboard</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Tính năng
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Lịch sử</a></li>
							<li><a class="dropdown-item" href="#">Hẹn giờ</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Thêm thiết bị</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" aria-disabled="true">Về chúng tôi</a>
					</li>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
            <ul class = "navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">MyAcount</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đăng ký</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Thoát</a>
                </li>
            </ul>
		</div>
	</nav>

    <!-- main body -->
    {% block main-content %}
	<div id="IOT_dashboard">
		<h2><b> Dasboard Control </b></h2>
		<div class="container text-center">
            <div class="row mb-1">
                <!-- Nhiet Do -->
                <div id="nhietdo" class="col-3 border border-dark rounded-4">
                    <h3 style="margin-top: 10px;">
                        Nhiệt Độ
                        <img src="static/app/images/temperture.png" style="width: 30px;">
                    </h3>
                    <b>
                        <p class="mt-5" style="font-size: 20px;" id="temp_value" > 11 </p>
                    </b>
                </div>
                <!-- DO AM -->
                <div id="doam" class="col-3 border border-dark rounded-4 ">
                    <h3 style="margin-top: 10px;">
                        Độ Ẩm
                        <img src="static/app/images/humi.png" style="width: 30px;">
                    </h3>
                    <b>
                        <p class="mt-5" style="font-size: 20px;" id="humi_value"> 20%</p>
                    </b>
                </div>
                <!-- Anh sang -->
                <div id="anhsang" class="col-3 border border-dark rounded-4">
                    <h3 style="margin-top: 10px;">
                        Ánh Sáng
                        <img src="static/app/images/light.png" style="width: 30px;">
                    </h3>
                    <b>
                        <p class="mt-5" style="font-size: 20px;" id="light_value"> 100 lux</p>
                    </b>
                </div>

                <!-- Do am dat -->
                <div id="anhsang" class="col-3 border border-dark rounded-4">
                    <h3 style="margin-top: 10px;">
                        Độ Ẩm Đất
                        <img src="static/app/images/humiSoil.png" style="width: 30px;">
                    </h3>
                    <b>
                        <p class="mt-5" style="font-size: 20px;" id="Soil_value"> 100%</p>
                    </b>
                </div>
            </div>

            <div class="pt-2 row " >
                <div class="col-8 border border-dark rounded-4 p-0" style="width: 66.6%; height: 20% ;">
                    <center>
                        <h3 style="font-size: 30px; margin-top: 10px;">
                            Chart
                        </h3>
                        <canvas class="border rounded" id="myChart" style="width: 100%; opacity: 0; border: #ededed;">
                            
                        </canvas>
                    </center>
                </div>

                <div class="col-4 p-0 " >
                    <div id="den" class="flex-fill border border-dark rounded-4 m-lg-1" style="height: 31%;">
                        <h3 class="mb-4" style="margin-top: 10px;">
                            <b>
                                Đèn
                            </b>
                        </h3>
                        <div style="display: flex;">
                            <div class="checkboxThree">
                                <input type="checkbox" id="checkboxThreeInput_den" onclick="on_off_led()" name=""/>
                                <label for="checkboxThreeInput_den"></label>
                            </div>
                            <img id="light_img" src="static/app/images/off_light.png" style="width : 22%;">
                        </div>
                    </div>
                    
                    <div class="pt-2"></div>

                    <div id="pump" class="flex-fill border border-dark rounded-4 mt-0 m-lg-1" style="height: 31%;">
                        <h3 class="mt-4" style="margin-top: 0;">
                            <b>
                                Bơm
                            </b>
                        </h3>
                        <div style="display: flex;">
                            <div class="checkboxThree">
                                <input type="checkbox" name="" id="checkBoxInputPump" onclick="on_off_pump()">
                                <label for="checkBoxInputPump"></label>
                            </div>
                            <img id="light_img" src="static/app/images/off_pump.png" style="width : 18%;">
                        </div>
                    </div>

                    <div class="pt-2"></div>

                    <div class="m-lg-1 row" style="height: 100%;">
                        <div class=" col-6 border border-dark rounded-4" style="height: 31%; ">
                            <b>
                                RSSI
                            </b>
                            <b>
                                <p class="mt-5" style="font-size: 20px;" id="Rssi_value"> -30 dBi</p>
                            </b>
                        </div>
                        <div class=" col-6 border border-dark rounded-4" style="height: 31%;">
                            <b>
                                Pin
                            </b>
                            <b>
                                <p class="mt-5" style="font-size: 20px;" id="Pin_value"> 3.7V</p>
                            </b>
                        </div>
                    </div>


                </div>
            </div>
		</div>
	</div>
    {% endblock main-content %}
    <!-- footer -->
    <footer class="container--fluid bg-white text-center fixed-bottom p-1 mt-5">
        copyright 2023
    </footer>
    <script src="" async defer></script>
</body>
<script src=" {% static 'app/js/login.js' %}"></script>

</html>