{% extends 'app/base.html' %}
{% load static %}
{% block banner-slider %}
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static "/app/images/baner/baner1.jpg" %}" class="d-block w-100" alt="..." style="height:400px; opacity: 0.8;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Farm 1</h5>
          <p>Ứng dụng Iot 2019</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static "/app/images/baner/baner2.jpg" %}" class="d-block w-100" alt="..." style="height:400px; opacity: 0.8;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Farm 2</h5>
          <p>Ứng dụng IoT 2020</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "/app/images/baner/baner3.jpg" %}" class="d-block w-100" alt="..." style="height:400px; opacity: 0.8;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Farm 3</h5>
          <p>Ứng dụng IoT 2021</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock banner-slider %}
{% block main-content %}
  <div class= "row">
    <div class = "col-lg-3">
      <img class= "thumbnail" src="{% static 'app/images/sanpham/LoRa1.png' %}" style="width: 100% ">
      <div class="box-element product">
        <h6 style="text-align: center;"><strong > LoRa Gate 1 </strong></h6>

        <button class="btn btn-outline-secondary add-btn"> Liên Hệ </button>
        <a class="btn btn-outline-success" href="#"> Xem </a>
        <h4 style =" display: inline-block; float: right"><strong> 2.000.000 VND</strong> </h4>
      </div>
    </div>
    <div class = "col-lg-3">
      <img class= "thumbnail" src="{% static 'app/images/sanpham/LoRa2.png' %}" style="width: 100% ">
      <div class="box-element product">
        <h6 style="text-align: center;"><strong > LoRa Gate 2 </strong></h6>

        <button class="btn btn-outline-secondary add-btn"> Liên Hệ </button>
        <a class="btn btn-outline-success" href="#"> Xem </a>
        <h4 style =" display: inline-block; float: right"><strong> 2.000.000 VND</strong> </h4>
      </div>
    </div>
    <div class = "col-lg-3">
      <img class= "thumbnail" src="{% static 'app/images/sanpham/LoRa3.jpg' %}" style="width: 100% ">
      <div class="box-element product ">
        <h6 style="text-align: center;"><strong > LoRa Gate 3 </strong></h6>

        <button class="btn btn-outline-secondary add-btn"> Liên Hệ </button>
        <a class="btn btn-outline-success" href="#"> Xem </a>
        <h4 style =" display: inline-block; float: right"><strong> 2.000.000 VND</strong> </h4>
      </div>
    </div>
    <div class = "col-lg-3">
      <img class= "thumbnail" src="{% static 'app/images/sanpham/LoRa4.jpg' %}" style="width: 100% ">
      <div class="box-element product">
        <h6 style="text-align: center;"><strong> LoRa Gate 4 </strong></h6>

        <button class="btn btn-outline-secondary add-btn"> Liên Hệ </button>
        <a class="btn btn-outline-success" href="#"> Xem </a>
        <h4 style =" display: inline-block; float: right"><strong> 2.000.000 VND</strong> </h4>
      </div>
    </div>
  </div>
  
{% endblock main-content %}